<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Уведомление</title>
</head>
<body>
    <h2>Здравствуйте! Новый  <a href="{{ link }}">пост</a> в вашей избранной категории(Если пользователь подписан на какую-либо категорию, то каждую неделю ему приходит на почту список новых статей, появившийся за неделю с гиперссылкой на них, чтобы пользователь мог перейти и прочесть любую из статей.
Добавьте приветственное письмо пользователю при регистрации в приложении.)  </h2>
        <p>{{ post.post_text|trancatechars:50 }}</p>
</body>
</html>